body {
	background-image: url("disco-lights.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	color: white;
}

header {
	font-family: 'Rock Salt', cursive;
	color: white;
	font-size: 38px;
	letter-spacing: 5px;
}

input {
	color: black;
}

img {
	display: inline-block;
	margin: auto;
}

.clearfix {
	overflow: hidden;
}